body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  background-color: #f7f8fb;
  font-family: "Inter", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 80%;
}

h1 {
  margin: 10px;
}

h2 {
  font-size: 18px;
  margin: 0;
}

h3,
h4 {
  margin: 0;
}

p {
  color: #767676;
  margin: 0;
}

section > p {
  margin: 0;
  margin-bottom: 30px;
  width: 50%;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

ul li {
  list-style-type: none;
}

#hero {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.img {
  background-image: url("aad37bdf81d3bac886d50f470fcaa991fa4cc196.png");
  height: 100%;
  width: 300px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.left h1 {
  font-size: 64px;
  margin: 0;
}

.left {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 20px;
}

#hire-me {
  width: 170px;
  height: 50px;
  background-color: #ffb400;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.services-elements {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 200px;
  gap: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-around;
  background-color: white;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.icon1 {
  display: inline-block;
  background: url("public/icons/coding.png") center / contain no-repeat;
  width: 50px;
  height: 50px;
}

.icon2 {
  display: inline-block;
  background: url("public/icons/illustration.png") center / contain no-repeat;
  width: 50px;
  height: 50px;
}

.icon3 {
  display: inline-block;
  background: url("public/icons/Microphone.png") center / contain no-repeat;
  width: 50px;
  height: 50px;
}

.icon4 {
  display: inline-block;
  background: url("public/icons/game-development.png") center / contain
    no-repeat;
  width: 50px;
  height: 50px;
}

.icon5 {
  display: inline-block;
  background: url("public/icons/Photographer.png") center / contain no-repeat;
  width: 50px;
  height: 50px;
}

.desc {
  text-align: center;
}

.price-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}

.gold {
  position: relative;
}

.gold > div {
  position: absolute;
  top: 0;
  background-color: orange;
  width: 100%;
  text-align: center;
  padding: 3px;
  box-sizing: border-box;
}

.price-item {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.price-item p {
  font-size: 15px;
  text-align: center;
}

#order-now {
  padding: 10px 40px 10px 40px;
  border: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
}
#order-now:hover {
  background-color: orange;
  cursor: pointer;
}

.icon-container {
  display: flex;
  gap: 10px;
}

.recommendation-cards {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.recommendation-card {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.stars {
  background-image: url("./public/icons/Rating.png");
  height: 20px;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.portfolio-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.portfolio-selection li {
  font-size: 18px;
}

.portfolio-selection li a {
  text-decoration: none;
  color: black;
}

.portfolio-selection li a:hover {
  color: rgb(179, 176, 176);
}

.portfolio-items {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 300px);
  gap: 10px;
}

.portfolio-item {
  background-color: white;
  background-image: url("./aad37bdf81d3bac886d50f470fcaa991fa4cc196.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#contact {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.contact-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  height: 100%;
}

.heading2 {
  font-size: 32px;
  margin-bottom: 10px;
}

label {
  color: #767676;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f0f0f6;
  border: none;
}

textarea {
  background-color: #f0f0f6;
  border: none;
  height: 100%;
}

#send-btn {
  width: 200px;
  border: none;
  background-color: orange;
  margin-top: 20px;
  padding: 10px;
}

.info-card {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.info-card-item {
  display: flex;
  color: #767676;
  justify-content: space-between;
}

.info-card i {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: orange;
  margin: 0 auto;
}

footer {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: white;
  margin: 0 auto;
  margin-top: 20px;
}
